body{
	background-color: #343a40!important;
}

.navbar{
	background:  rgba(0,0,0,0.6)!important;
}
.navbar-brand img{
	    height: 99px;
}
.sam{
	padding-top: 125px;
}
.beagle-vd{
	text-shadow: .1rem .1rem .8rem black;
	padding-bottom: 25px;
	font-size: 2.5rem;
	font-weight: 800;
	color: #ffc107;
}

/*footer*/

.fa{
	text-shadow: 0.1rem 0.1rem 0.8rem black;
	color: white!important;
	font-weight: 200;
	padding-bottom: 15px;
}
.high{
	text-shadow: 0.1rem 0.1rem 0.8rem black;
	font-size: 1.2rem;
	font-weight: 700;
	color: white;
}
.footer-hr{
	width: 100%;
	text-align: center;
	border-width: 1.5px;
	border-color: white; 
	padding-bottom: 25px;
}
#icon {
	text-shadow: 0.1rem 0.1rem 0.8rem black;
	font-size: 1.1rem;
	font-weight: 500;
}